*{
    font-family: Arial, Helvetica, sans-serif,sans-serif;
}
.flex-con{
    height: 50px;
    background-color:  #0c4b05;
    border-bottom: #ffcd00 solid 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
img{
    display: flex;
    align-self: flex-start;
}
.flex-item{
    color: white;
    font-size: 25px;
    margin: 5px;
    width:100px;
    height:100px;
    padding:5px;
    
}
.item1{
    order: 1;
    flex-shrink: 1;
    padding-left: 20px;
    margin-top: 12px;
}
.item2{
    order: 2;
    flex-shrink: 1;
    padding-left: 20px;
    margin-top: 12px;
}
.item3{
    order: 3;
    flex-shrink: 1;
    padding-left: 20px;
    margin-top: 12px;
}
.item4{
    flex-grow: 4;
    padding-right: 20px;
    font-size: 40px;
}
.item5{
    background-image: url(./image/mmsu-logo.png);
    background-repeat: no-repeat;
    background-size:50px;
    height: 200px;
    size: 5px;
}
.flex-con1{
    display: flex;
    flex-direction: column;
    padding-top: -100%;
    margin: 5%;
}
.box h1{
    font-size: 30px;
}
.box{
    font-size: 20px;
}
.item6{
    order: 1;
    color: #363636;
    height: 300px;
    width: 300px;
}
.item7{
    order: 2;
    color: #363636;
    height: 300px;
    width: 700px;
}
.item8{
    order: 3;
    color: #363636;
    height: 300px;
    width: 35%;
    padding: 2%;
    background-color: #d2d2d2;
}
section{
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
    background-image: url(./image/6.jpg);
    background-repeat: no-repeat;
    height: 300px;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 15px;
}
img{
    height: 200px;
    width: 2000px;
}
.flex-con1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.footer{
    background-color:  #ffcd00;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 5px;
}
